{% extends '../base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="d-flex mt-3 mb-4 align-items-center navigation justify-content-start">
        <a href="{% url 'wasi_admin:products-list' %}" class="btn shadow-sm btn-sm btn-dark bold"> <span class="fas fa-chevron-left"></span> Back </a>
        <h6 class="text-dark ml-3 mb-0 bold"> Add new product </h6>
    </div>
    
    <div class="form-wrapper mt-5 m-0" style="max-width: 600px;">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="card border-0 p-2 mb-4 form-group shadow-sm">
                <p class="form-label font-weight-bold mb-1"> Product name </p>
                <input type="text" name="name" id="" required class="form-control">
            </div>
            
            <div class="card border-0 p-2 mb-4 form-group shadow-sm">
                <p class="form-label font-weight-bold mb-1"> Product price </p>
                <input type="number" name="price" id="" required class="form-control">
            </div>
            
            <div class="card border-0 p-2 mb-4 form-group shadow-sm">
                <p class="form-label font-weight-bold mb-1"> Product stock quantity </p>
                <input type="number" name="quantity" id="" required class="form-control">
            </div>

            <div class="card border-0 p-2 mb-4 form-group shadow-sm">
                <p class="form-label font-weight-bold mb-1"> Product category </p>
                <input type="text" name="category" id="" required class="form-control">
            </div>
            
            <div class="card border-0 p-2 mb-4 form-group shadow-sm">
                <p class="form-label font-weight-bold mb-1"> Product description </p>
                <textarea placeholder="min 10 words, supports markdown" name="description" id="" required class="form-control"></textarea>
            </div>

            <div class="card border-0 p-2 mb-4 form-group shadow-sm">
                <p class="form-label font-weight-bold mb-1"> Product images </p>
                <ul class="list-unstyled row m-0 justify-content-around">
                    <li class="mb-2">
                        <div class="rounded p-1 border"  style="width: 100; height: 100"> <img class="w-100 h-100" id="preview-1"></div>
                        <div class="mt-2">
                            <input hidden type="file" accepts="image/*" name="image"  id="img-1" oninput="preview(event, 'preview-1')" class="form-control">
                            <button type="button" class="btn btn-sm btn-primary" onclick="clickE('img-1')">upload</button>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="rounded p-1 border"  style="width: 100; height: 100"> <img class="w-100 h-100" id="preview-2"></div>
                        <div class="mt-2">
                            <input hidden type="file" accepts="image/*" name="image"  id="img-2" oninput="preview(event, 'preview-2')" class="form-control">
                            <button type="button" class="btn btn-sm btn-primary" onclick="clickE('img-2')">upload</button>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="rounded p-1 border"  style="width: 100; height: 100"> <img class="w-100 h-100" id="preview-3"></div>
                        <div class="mt-2">
                            <input hidden type="file" accepts="image/*" name="image"  id="img-3" oninput="preview(event, 'preview-3')" class="form-control">
                            <button type="button" class="btn btn-sm btn-primary" onclick="clickE('img-3')">upload</button>
                        </div>
                    </li>
                </ul>
            </div>

            <button class="btn font-weight-bold btn-sm btn-primary"> Save product </button>
        </form>
    </div>
</div>

<script>
function preview(event, elemID){
    let src = URL.createObjectURL(event.target.files[0])
    let root = document.getElementById(elemID);
    root.src = src;
}

function clickE(elemID){
    document.getElementById(elemID).click()
}

</script>

{% endblock content %}