{% extends '../base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="d-flex mt-3 mb-4 align-items-center navigation justify-content-start">
        <a href="{% url 'wasi_admin:dashboard' %}" class="btn shadow-sm btn-sm btn-dark bold"> <span class="fas fa-chevron-left"></span> Back </a>
        <h6 class="text-dark ml-3 mb-0 bold"> Our Services </h6>
    </div>
    
    <div class="row justify-content-between m-0">
        <div class="search-box"></div>
        <a href="{% url 'wasi_admin:add-service' %}" class="btn shadow-sm btn-primary bold"> <span class="fas fa-plus"></span> Add Service </a>
    </div>

    <div class="mt-4">
        {% if services.count > 0 %}
            <div class="mt-5 w-100 text-nowrap d-block">
                <ul>
                {% for service in services %}
                    <li class="shadow card border-0 mb-4">
                        <p class="bold"> {{ service.name }} </sppan>
                        <p class=""> {{ service.about_service|truncatewords:"50" }} </p>
                        
                        <div class="w-25 p-2 d-flex justify-content-start">
                            <a href="{% url 'wasi_admin:edit-product' product.product_id %}" class="btn btn-sm p-2 small btn-warning">
                                <span class="fas fa-edit"></span>
                            </a>

                            <a href="{% url 'wasi_admin:delete' 'product' product.id %}" class="btn btn-sm ml-4 p-2 small btn-danger">
                                <span class="fas fa-trash"></span>
                            </a>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="container text-center mt-5">
                <h1 class="fas fa-tools mb-4" style="font-size:100px"></h1>
                <p class="text-muted h4 mb-3 bold">
                    There are no services yet!
                </p>

                <a href="{% url 'wasi_admin:add-service' %}" class="btn font-weight-bold btn-primary"> Add new service </a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}