{% extends '../base.html' %}
{% load static %}

{% block meta_tags %}
{% endblock meta_tags %}


{% block content %}

<style>
	.markdown-content p{
		margin-bottom: 5px !important;
	}

	.markdown-content .{}

	.static-content .gallery{
		width: 100%;
		overflow-x: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		border: 3px solid gainsboro;
		padding: 10px 1rem;
	}

	.static-content .gallery-item{
		text-align: center;
		border: 2px solid gainsboro;
		border-radius: 10px;
		padding: 10px;
		margin: 0 10px;
	}

	.static-content .gallery-item

	.markdown-content .ul{}

	.markdown-content .ul{}

	.markdown-content .ul{}

</style>


<div class="pt-5 pb-5 container">

	<h2 class="mb-3 text-center"> {{ project.title }} </h2>

	<section id="#markdown-content" class="markdown-content">
		{{ project.html|safe }}
	</section>

	<section class="static-content">
		{% if images %}
				<div class="gallery">
					{% for image in images %}
						<!--  Image Gallery -->
						<div class="gallery-item">
							<image src="http://localhost:8000/media/{{image.file.url}}" alt="{{ image.position }}" class="rounded" style="width: 150px; height: 150px" />

							<p class="mt-2 mb-0 bold small"> Image {{ forloop.counter }} of {{ images|length }}</p>
						</div>
					{% endfor %}
				</div>
		{% endif %}		

		{% if videos %}
				<div>
					{% for video in videos %}
						<!--  Image Gallery -->
					{% endfor %}
				</div>
		{% endif %}		
	</section>

</div>
{% endblock content %}